<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden de Compra</title>
    <style>
        /* Estilos CSS para la p치gina */
        @page {
            size: A4 landscape;
        }

        /* Estilos CSS para el contenido */
        body {
            padding: 20px;
            font-family: Arial, sans-serif;
        }

        .container {
            width: 50%; /* Ocupa la mitad de la p치gina */
            margin: 0 auto; /* Centra el contenido horizontalmente */
        }

        /* Estilos CSS para la tabla */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Logo del vendedor -->
        <img src="../distributor-logo.png" alt="Logo del vendedor" width="150px" height="50px">

        <!-- Nombre del vendedor -->
        <h1>Orden de Compra</h1>

        <!-- Tabla de productos -->
        <table>
            <thead>
                <tr>
                    <th>c칩digo</th>
                    <th>nombre</th>
                    <th>descripci칩n</th>
                    <th>cantidad</th>
                    <th>unidad/kg</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{code}}</td>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{quantity}}</td>
                    <td>{{measurement}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
